# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.PPzD-master.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../:\Pobieranie\Reafacto\PPzD-master\PPzD-master\.idea\.idea.PPzD-master\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
